.dot {
	border-radius: 50%;
	position: absolute;
	opacity: 1;
	animation: wiggle 3s linear 0s infinite; 

}

.candy {
	
	svg {
		animation: spin .6s linear 0s infinite;	
	}

	// make these spin at a different speed
	&.peppermint svg { 
		animation: spin 2s linear 0s infinite;
	}
	&.candycane svg {
		animation: spin .8s linear 0s infinite;
	}

}


@keyframes wiggle {
	0%   { margin-left: 0; }  
	20%  { margin-left: -10px; }  
	50%  { margin-left: 20px; }
	90%  { margin-left: -10px; }  
    100% { margin-left: 0; }  
}

@keyframes spin {
	0%   { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg); } 
}

