.dot {
	border-radius: 100%;
	position: absolute;
	opacity: 1;
	animation: wiggle 3s linear 0s infinite; 

}
// name duration timing-function delay iteration-count direction fill-mode play-state;
// name duration ease            0s    1               normal    none
		

@keyframes fade {
	0%   { opacity: 0; }
	20%  { opacity: inherit; }
	70%  { opacity: inherit; }
	100% { opacity: 0; }
}

@keyframes fall {
	0%   { transform: translateY(0); }  
    100% { transform: translateY(5000%);}
}

@keyframes wiggle {
	0%   { margin-left: 0; }  
	20%  { margin-left: -10px; }  
	50%  { margin-left: 20px; }
	90%  { margin-left: -10px; }  
    100% { margin-left: 0; }  
}

@keyframes spin {
	0%   { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg); } 
}

.candy {
	animation: spin .7s linear 0 infinite;

	&.peppermint { 
		animation: spin 2s linear 0 infinite;
	}
	&.candycane {
		animation: spin 1.1s linear 0 infinite;
	}
}
